@tailwind base;
@tailwind components;
@tailwind utilities;

/* Memperbaiki masalah horizontal scroll pada mobile */
body {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

/* Utilitas untuk menyembunyikan scrollbar tapi tetap bisa di-scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Memastikan gambar tidak keluar dari container */
img {
  max-width: 100%;
  height: auto;
}